<img src="/Content/img/spiffygif_30x30.gif" style="text-align:center" [hidden]="!loading" />
<div *ngIf="message">
	﻿<h1>ADD/EDIT Message</h1>
	<div *ngIf="_global.loggedInUser && !loading && message">

		<form role="form" (ngSubmit)="submitMessage(modifyMessageForm)" #modifyMessageForm="ngForm"  class="form-horizontal" name="modifyMessageForm" >
			<div class="form-group">
				<label class="col-sm-3 control-label">Title*</label> 
				<div class="col-sm-5">
					<input type="text" class="form-control" [(ngModel)]="message.title" name="title" #title="ngModel" required>
                    
					<div class="alert alert-danger" role="alert" *ngIf="title.errors?.required && title.dirty">
						Title is required.
					</div>
				</div>
			</div>


	<div class="form-group">
		<label class="col-sm-3 control-label" >Message*</label>
		<div class="col-sm-5">
			
			<textarea style="width:100%" rows="5" [(ngModel)]="message.msg" name="msg"></textarea>

		</div>
	</div>
			<div class="form-group">
  
		<label class="col-sm-3 control-label" >Start Date*</label>
		<div class="col-sm-5">  
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group">
                        <input name="beginDate" type="text" class="form-control" [ngModel]="message.beginDate|date" (ngModelChange)="message.beginDate = $event" #beginDate="ngModel" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">                  
                    <datepicker name="calbeginDate" [ngModel]="message.beginDate" (ngModelChange)="message.beginDate = $event"  [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
                </ul>
            </div>
            
			<div class="alert alert-danger" role="alert" *ngIf="beginDate.errors?.required && beginDate.dirty">
			Start date is required.
		</div>
			</div>
	</div>
			<div class="form-group">
		<label class="col-sm-3 control-label" >End Date*</label>
		<div class="col-sm-5">			
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group">
                      <input name="endDate" #endDate="ngModel" required type="text" class="form-control" [ngModel]="message.expirationDate|date" (ngModelChange)="message.expirationDate = $event"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datepicker name="calendDate" [ngModel]="message.expirationDate" (ngModelChange)="message.expirationDate = $event" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
                </ul>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="endDate?.errors?.required && endDate.dirty">
				End date is required.
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" >Importance Level*</label>
		<div class="col-sm-5">

			<select class="form-control"
					[(ngModel)]="message.msgLevel"
					name="level"
                    #level="ngModel"
					required>
		
				<option *ngFor="let level of levels" [value]="level.id" >{{level.name}}</option>
			</select>

			<div class="alert alert-danger" role="alert"
				 *ngIf="level.errors?.required && level.dirty">
				Please select a level of importance.
			</div>
			</div>
	</div>


	<div class="form-group">
		<label class="col-sm-3 control-label" >
			Active
		</label>
		<div class="col-sm-5">
			<input name="active" type="checkbox" class="horizontal-input"
				   [(ngModel)]="message.active" />
		</div>
	</div>
	<br />
       
	<button type="submit" [disabled]="!modifyMessageForm.form.valid"  class="btn admin-button" >SUBMIT</button>

	<button type="button" [disabled]="loading"(click)="_location.back()" class="btn cancel-button" >CANCEL</button>

	<button type="button" [disabled]="loading" (click)="deleteMessage(message.id)" class="btn generic-button" *ngIf="createOrModify== _constants.modify" >DELETE</button>
	
            </form>
</div>
	</div>



