
<div class="row">
    <div class="col-xs-12 col-sm-7"><h1 >MANAGE SALES GROUPS</h1></div>

    <div class="col-xs-12 col-sm-5 add-level-button-group">
        <button type="button" name="btnHide" class="btn admin-button far-right admin-button-large" *ngIf="unassingedManager"  ng-click="modifySalesGroup()" >Add a Sales Group</button>
    </div>
</div><div class="row" style="text-align:center;font-style:italic;font-size:large" *ngIf="unassingedManager">
    You have not been assigned a group to manage.
</div>

<img src="/Content/img/spiffygif_30x30.gif" style="text-align:center" *ngIf="!hasLoaded" />

<accordion name="lev1">
   
   
    <accordion-group  *ngFor="let salesGroupLevel1  of salesGroups; let i = index" >
        <accordion-heading>        
            <div class="row">
                <accordion-toggle>
                    <a>
                        <div class="col-xs-8 col-sm-10">
                            <span class="order-section-title">{{salesGroupLevel1.name}}</span>
                        </div>
                    </a>
                </accordion-toggle>
                <div class="col-xs-4 col-sm-2 text-right">
                 <button type="button" class="btn admin-button" (click)="showManagers(index, salesGroupLevel1.id, _constants.salesGroupLevel1, $event,accordion.isOpened)" >Managers</button>
                    <button type="button" class="btn admin-button" *ngIf="_global.loggedInUser.role.rank <=1" (click)="modifySalesGroup(_constants.salesGroupLevel1, salesGroupLevel1.id, $event)" >Edit</button>
                </div>
            </div>          
        </accordion-heading>
        <!--            LEVEL 1 MANAGERS-->
   
        
        <div class="mini-panel" [hidden]="!showLevel1Manager[salesGroupLevel1.id]">
         <span class="order-section-title">{{salesGroupLevel1.name}} Managers </span>
            <p *ngIf="!salesGroupLevel1?.managers?.length > 0">No managers have been assigned to this sales group.</p>
            <ul *ngIf="salesGroupLevel1?.managers?.length > 0" class="no-margin">           
                <li *ngFor="let manager of salesGroupLevel1.managers">                   
                    {{manager.firstName}} {{manager.lastName}}
                </li>
            </ul>
        </div>
        <!--            LEVEL 2-->
        <p *ngIf="!salesGroupLevel1.childSalesGroups.length > 0" >There are no Level 2 Sales Groups underneath this Sales Group.</p>

   
        <accordion name="lev2" *ngIf="salesGroupLevel1.childSalesGroups.length > 0">
            <accordion-group *ngFor="let salesGroupLevel2  of salesGroupLevel1.childSalesGroups; let i = index">
                <accordion-heading>
                    <div class="row">
                        <accordion-toggle>
                            <a>
                                <div class="col-xs-8 col-sm-10">
                                    <span class="order-section-title">{{salesGroupLevel2.name}}</span>
                                </div>
                            </a>
                        </accordion-toggle>
                        <div class="col-xs-4 col-sm-2 text-right">
                            <button type="button" class="btn admin-button" (click)="showManagers(index, salesGroupLevel2.id, _constants.salesGroupLevel2, $event, accordion.isOpened)" >Managers</button>
                            <button type="button" class="btn admin-button" *ngIf="_global.loggedInUser.role.rank <=1" (click)="modifySalesGroup(_constants.salesGroupLevel1, salesGroupLevel1.id, $event)" >Edit</button>
                        </div>
                    </div>   

                </accordion-heading>

                <!--            LEVEL 2 MANAGERS-->
            
                <div class="mini-panel" [hidden]="!showLevel2Manager[salesGroupLevel2.id]">
                    <span class="order-section-title">{{salesGroupLevel2.name}} Managers </span>
                    <p *ngIf="!salesGroupLevel2?.managers?.length > 0">No managers have been assigned to this sales group.</p>
                    <ul *ngIf="salesGroupLevel2?.managers?.length > 0" class="no-margin">
                        <li *ngFor="let manager of salesGroupLevel2.managers">
                            {{manager.firstName}} {{manager.lastName}}
                        </li>
                    </ul>
                </div>

                    <div class="order-content">
                                                <!--LEVEL 3-->
            <p *ngIf="!salesGroupLevel2.childSalesGroups.length > 0">There are no Level 3 Sales Groups underneath this Sales Group.</p>
            <ul *ngIf="salesGroupLevel2.childSalesGroups.length > 0" class="no-bullet no-padding">
                <li *ngFor="let salesGroupLevel3  of salesGroupLevel2.childSalesGroups; let i = index">
                    <a class="admin-link" (click)="modifySalesGroup(salesGroupConstants.salesGroupLevel3, salesGroupLevel3.id)">{{salesGroupLevel3.name}}</a>
                    <a class="admin-link" (click)="showTeamsInLevel3Group(salesGroupLevel3.id)">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                    <a class="admin-link" (click)="showMgrsInLevel3Group(salesGroupLevel3.id)">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>

                    <div class="level-3-description">
                        <!--            LEVEL 3 MANAGERS-->
                        <div class="mini-panel" *ngIf="showLevel3Manager[salesGroupLevel3.id]">
                <b>Managers</b>
                <div *ngIf="salesGroupLevel3.managers == undefined"><img src="/Content/img/spiffygif_30x30.gif" style="text-align: center" />Loading Managers</div>
                <div *ngIf="salesGroupLevel3.managers != undefined">
                    <p *ngIf="!salesGroupLevel3.managers.length > 0">No managers have been assigned to this sales group.</p>
                    <ul *ngIf="salesGroupLevel3.managers.length > 0">
                        <li *ngFor="let manager of salesGroupLevel3.managers;let i=index">
                            {{manager.firstName}} {{manager.lastName}}
                        </li>
                    </ul>
                </div>
            </div>
                        <!--            LEVEL 3 TEAMS-->
                        <div class="mini-panel" *ngIf="showLevel3Team[salesGroupLevel3.id]">
                                <b>Teams</b>
                                <div *ngIf="salesGroupLevel3.salesTeams == undefined"><img src="/Content/img/spiffygif_30x30.gif" style="text-align: center" />Loading Teams</div>
                                <div *ngIf="salesGroupLevel3.salesTeams != undefined">
                                    <p *ngIf="!salesGroupLevel3.salesTeams.length > 0">There a no Sales Teams under this Sales Group.</p>
                                    <ul *ngIf="salesGroupLevel3.salesTeams.length > 0">
                                        <li *ngFor="let salesTeam of salesGroupLevel3.salesTeams; let i = index">
                                            {{salesTeam.externalDisplayName}} ({{salesTeam.name}})<span *ngIf="!salesTeam.isActive"> / INACTIVE</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


</accordion-group>
        </accordion>

    </accordion-group>
</accordion>









	
