# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll

src/EntityFramework.Implementation/bin/Debug/Numero3.EntityFramework.Implementation.dll
*.suo
*.dll
src/EntityFramework.Implementation/bin/Debug/Numero3.EntityFramework.Implementation.pdb
*.cache
src/EntityFramework.Implementation/obj/Debug/EntityFramework.Implementation.csprojResolveAssemblyReference.cache
*.pdb
*.dll
src/LS.BudgetMobile/obj/Debug/LS.BudgetMobile.pdb
*.pdb
src/LS.ApiBindingModels/bin/Debug/LS.ApiBindingModels.pdb
*.dll
src/LS.ApiBindingModels/bin/Debug/LS.Domain.pdb
*.cache
src/LS.ApiBindingModels/obj/Debug/LS.ApiBindingModels.dll
*.dll
src/EntityFramework.Implementation/obj/Debug/Numero3.EntityFramework.Implementation.dll
*.pdb
src/LS.ApiBindingModels/bin/Debug/LS.Domain.dll
