﻿<h1 trns>ADD/EDIT USER</h1>
<div *ngIf=" !hasLoaded"><img src="/Content/img/spiffygif_30x30.gif" style="text-align: center" [hidden]="hasLoaded" /></div>

<form role="form" class="form-horizontal" (ngSubmit)="submitUser(modifyUserForm)" name="modifyUserForm"  #modifyUserForm="ngForm" novalidate>
 

    <div *ngIf="_global.loggedInUser && hasLoaded">
   
        <div *ngIf="createOrModify == _constants.modify" class="form-group">
            <label class="col-sm-3 control-label" trns>Username*</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="user.userName" name="userName"  #userName="ngModel" required [disabled]="_global.loggedInUser.role.rank > minToChangeTeam">

                <div class="alert alert-danger" role="alert" *ngIf="userName.errors?.required && userName.dirty">
                    Enter a valid username.
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Role*</label>
            <div class="col-sm-5">
                <select class="form-control"
                      [(ngModel)]="user.role.id"

                        (change)="setGroupFilter()"
                        name="role"
                        #role="ngModel"
                        required
                        ng-disabled="_global.loggedInUser.role.rank>minToChangeTeam">
                    <option value=''>- Select Role -</option>
                    <option *ngFor="let role of roles"  [value]="role.id">{{role.name}}</option>
                </select>

                <div class="alert alert-danger" role="alert"
                     *ngIf="role.errors?.required && role.dirty">
                    Select a role.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" trns>First Name</label>
            <div class="col-sm-5">
            <input type="text" class="form-control"
            [(ngModel)]="user.firstName"
            name="firstName"
            #firstName="ngModel"
            [disabled]="_global.loggedInUser.role.rank>minToChangeTeam"
            required
                />

                <div class="alert alert-danger" role="alert"
                     *ngIf="firstName.errors?.required && firstName.dirty">
                    First name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Last Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control"
                [(ngModel)]="user.lastName"
                name="lastName"
                #lastName="ngModel"
                [disabled]="_global.loggedInUser.role.rank >minToChangeTeam"
                required />
                <div class="alert alert-danger" role="alert"
                     *ngIf="lastName.errors?.required && lastName.dirty">
                   Last name is required.
                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" trns> External User ID</label>
            <div class="col-sm-5">
                <input type="text" name="externalUserID" class="form-control" [disabled]="_global.loggedInUser.role.rank >minToChangeTeam" [(ngModel)]="user.externalUserID" />
              </div>

        </div>

      
        <div *ngIf="_global.loggedInUser.role.rank < _constants.level2ManagerRoleRank && user.role.name!=user.originalRoleName && (user.role.name == 'Level 1 Manager'||user.role.name == 'Level 2 Manager' ||user.role.name == 'Level 3 Manager') " class="form-group">
            <label class="col-sm-3 control-label" trns>
                Manage Group
            </label>
       
            <div class="col-sm-5">
              
                <select class="form-control"
                        [(ngModel)]="user.selectedGroupId"
                        name="group2"
                        #group2="ngModel"
                        required
                        [disabled]="_global.loggedInUser.role.rank > minToChangeTeam">
                    <!--<option [value]="">-Select Group-</option>-->
                    <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
                </select>
                <!--<div class="alert alert-danger" role="alert"
                     *ngIf="group2.errors?.required  && group2.dirty">
                    Please select a group to manage.
                </div>-->
            </div>
        </div>
    
        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control"
                        [(ngModel)]="user.email"
                       name="email"
                       #email="ngModel"
                        validateEmail
                       [disabled]="_global.loggedInUser.role.rank >minToChangeTeam"
                       required
                       /> 
                <!-- emailvalidate=emailvalidate directive makes the angular email validate use custom patterns 
                       Email Error Message-->
                <div class="alert alert-danger" role="alert"
                     *ngIf="(email.errors?.validateEmail)&& email.dirty">
                 Enter a valid email address.
                </div>

            </div>
        </div>

       <div class="form-group">
            <label class="col-sm-3 control-label" trns>PayPal Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control"
                       [(ngModel)]="user.payPalEmail"
                       name="paypalemail"
                        #paypalemail="ngModel"
                       validateEmail
                      [disabled]="_global.loggedInUser.role.rank >minToChangeTeam"
                       required
                    />
                       <!-- emailvalidate directive makes the angular email validate use custom patterns -->
                <!--       Email Error Message-->
                <div class="alert alert-danger" role="alert"
                    *ngIf="(paypalemail.errors?.validateEmail)&& paypalemail.dirty">
                    Enter a valid email address.
                </div>
            </div>
        </div>
      
        <div *ngIf="user.role.rank >= _constants.salesTeamManagerRoleRank" class="form-group">
            <label class="col-sm-3 control-label" trns>Team</label>
            <div class="col-sm-5">
                <select class="form-control"
                       [(ngModel)]="user.team.id"
                        name="team"
                        #team="ngModel"                
                        required
                        [disabled]="_global.loggedInUser.role.rank >minToChangeTeam">
                    <!--<option value="">- Select Team -</option>-->
                    <option *ngFor="let team of teams" [value]="team.id">{{team.displayText}}</option>
                </select>
                <!--Team Error Message-->
                <div class="alert alert-danger" role="alert"
                     *ngIf="team.errors?.required && team.dirty">
                    Please select a sales team.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" trns>
                Active
            </label>
            <div class="col-sm-5">
                <input type="checkbox" class="horizontal-input"
                      [(ngModel)]="user.isActive"
                       name="active"
                       [disabled]="!(_global.loggedInUser.role.rank <= minToChangeTeam && (_global.loggedInUser.role.rank <= _constants.administratorRoleRank || user.originalActive))"
                        />
            </div>
        </div>

        <div class="order-field-title">Permissions</div>

        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Allow TPIV Bypass</label>
            <div class="col-sm-5">
                <input type="checkbox" class="horizontal-input"
                       name="allowTPIV"
                        [(ngModel)]="user.permissionsAllowTpivBypass"
                       [disabled]="_global.loggedInUser.role.rank > _constants.administratorRoleRank" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Can Create Order</label>
            <div class="col-sm-5">
                <input type="checkbox" class="horizontal-input"
                       name="allowOrder"
                       [(ngModel)]="user.permissionsAccountOrder"
                       [disabled]="_global.loggedInUser.role.rank > _constants.administratorRoleRank" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Lifeline CA</label>
            <div class="col-sm-5">
                <input type="checkbox" class="horizontal-input"
                       name="allowLifelineCA"
                        [(ngModel)]="user.permissionsLifelineCA"
                       [disabled]="_global.loggedInUser.role.rank > _constants.administratorRoleRank" />
            </div>
        </div>

        <br />
   
        <button type="submit" [disabled]="!modifyUserForm.form.valid || sendingpassword" *ngIf="_global.loggedInUser.role.rank<=minToChangeTeam" class="btn admin-button" trns>SUBMIT</button>
        <button type="button" [disabled]="sendingpassword" (click)="_location.back()" class="btn cancel-button" trns>CANCEL</button>
        <button type="button" [disabled]="sendingpassword||!canBeDeleted" *ngIf="createModify==_constants.modify" (click)="deleteUser(user.id)" class="btn generic-button" trns>DELETE</button>
        <button type="button" [disabled]="sendingpassword" (click)="resetUsersPassword(user.id,user.email)" class="btn generic-button" *ngIf="showResetPasswordButton" trns>RESET USER'S PASSWORD</button><img src="/Content/img/spiffygif_30x30.gif" style="text-align: center" *ngIf="sendingpassword" />
        <p *ngIf="!canBeDeleted && createModify==_constants.modify"><i style="font-size:x-small">Delete button is disable because user manages a group.</i></p>

    </div>
</form>













	
