
CREATE TABLE [dbo].[Budget_LifelinePrograms](
	[ProgramName] [varchar](250) NOT NULL,
	[BudgetCodeID] [int] NOT NULL
) ON [PRIMARY]

INSERT [dbo].[Budget_LifelinePrograms] ([ProgramName], [BudgetCodeID]) VALUES (N'Aid to Families with Dependent Children', 47)
INSERT [dbo].[Budget_LifelinePrograms] ([ProgramName], [BudgetCodeID]) VALUES (N'Annual Income', 6)
INSERT [dbo].[Budget_LifelinePrograms] ([ProgramName], [BudgetCodeID]) VALUES (N'BadgerCare', 30)
