
<div *ngIf="_global.loggedInUser">
	<h1>WELCOME TO LIFELINE SERVICES</h1>
	<br /><br />
	<div *ngIf="messages?.length">

		<div>
			<h4><strong>Messages</strong></h4>
		
			<div class="alert" [ngClass]="{'alert-danger':message.msgLevel==1,'alert-warning':message.msgLevel==2,'alert-info':message.msgLevel==3}" style="word-wrap: break-word" *ngFor="let message of messages" role="alert">

				<strong>{{message.beginDate| date:'MM/dd/yyyy'}} - {{message.title}}:</strong><br /><div>{{message.msg}}</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-/lg">
        <div class="modal-content">
            <div  class="modal-header">
                <h4  class="modal-title pull-left" >Messages</h4>
             
                <button type="button" class="close pull-right" aria-label="Close" (click)="setCriticalMsgRead()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div style="margin-bottom:8px"></div>
            </div>
            <div class="modal-body">
                <div *ngFor="let message of criticalMsg" [ngClass]="{'alert alert-danger':message.msgLevel==1,'alert alert-warning':message.msgLevel==2,'alert alert-info':message.msgLevel==3}" role="alert">
                <strong>{{message.beginDate| date:'MM/dd/yyyy'}} - {{message.title}}:</strong><br />
                <div> {{message.msg}}</div></div>
            </div>
        </div>
    </div>
</div>






