<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentechSoap11"/>
        <binding name="PaymentechSoap111">
          <security mode="Transport"/>
        </binding>
        <binding name="PaymentechSoap112"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mvno-api01.budgetprepay.com:80/Paymentech/Paymentech.wsdl" binding="basicHttpBinding" bindingConfiguration="PaymentechSoap11" contract="ChaseService.Paymentech" name="PaymentechSoap11"/>
      <endpoint address="https://mvno-api01.budgetprepay.com:443/Paymentech/Paymentech.wsdl" binding="basicHttpBinding" bindingConfiguration="PaymentechSoap111" contract="ChaseAPIService.Paymentech" name="PaymentechSoap111"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
